<div class="wrapper">
  <div id="formContent">

    <div class="">
      <h2 class="my-5">Bejelentkezés</h2>
    </div>

    <form>
      <input type="email" id="email" class="" name="email" placeholder="email cím">
      <input type="text" id="password" class="" name="login" placeholder="jelszó">
      <div id="formFooter">
        <a class="underlineHover" href="#">Elfelejtett jelszó</a>
      </div>
      <input type="submit" class="" value="Bejelentkezés">
      <h2>Nincs még fiókod?</h2>
      <input type="button" class="" value="Regisztráció">
    </form>

  </div>
</div>